body {
  background-color: #ffe8e0;
  /*#494949*/
}

a {
  color: #ddaab3;
  font-size: 20px;
  text-decoration: none;
}

h1.risk, h1.meter-results, h1.new-player {
  font-size: 70px;
  color: white;
  line-height: 50px;
  opacity: 0.8
}

h1.player-info {
  font-size: 80px;
  color: pink;
  line-height: 90px;
  opacity: 0.8
}

ul {
  list-style-type: none;
  padding-left: 0;
}


.game {
  width: 100%;
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;

}

.rose-container {
  align-self: center;
  margin: auto;
}

#rose {
  cursor: pointer;
  opacity: 0.7;
}

#petals {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: visible;
  display:flex;
  z-index: -1;
}

.falling-petal {
  align-self: center;
  margin-left: 60%;
  width: 300px;
  height: 350px;
  background: url('../petal.png');
  opacity: 0;
}

.fall {
  position: relative;
  animation-name: petal-fall;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes petal-fall {
  0% {opacity: .2; left:0; top:0;}
  25% {opacity: 1}
  100% {opacity: 0; left:0; top:20em; }
}

#stop, #start {
    background: none;
    border: none;
    font-size: 20px;
    color: #bd3c5b;
}

#meter-container {
  width: 400px;
  height: 500px;
  opacity: .5;
  margin: auto;
}

.meter {
  height: 500px;
  width: 400px;
  overflow: visible;
  background: url('../stem.png');
}

.meter-ball {
  width: 20px;
  height: 20px;
  background: #ce486a;
  border-radius: 100%;
  margin: auto;
  top: 70%;
  display: none;
}

.pause-ball {
  animation-play-state: paused;
}

.meter-ball-move {
  position: relative;
  animation-name: meterClick;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;

}

@keyframes meterClick {
  0% {top:67%;}
  100% {top:30%;}
}

#count {
  display: none;
}

#right-box {
  min-width: 25%;
  height: 500px;
}


/********MODALS********/

#inst-modal, #start-modal {
	background-color: rgba(168, 129, 136, .2);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 99;
	overflow: auto;
	display:none;
}

#inst-box, #start-box {
	color: #ddaab3;
  font-size: 18px;
	background-color: rgba(255, 255, 255, 0.9);
	height: 400px;
	width: 500px;
	padding: 1em;
	border: 15px solid rgba(221, 170, 179, 0.6);
	border-radius: 40px;
	margin: 90px auto;
	box-shadow: 0 5px 4px rgba(168, 129, 136, 0.2);
  line-height: normal;
}

#start-risk-modal {
	background-color: rgba(168, 129, 136, .2);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 99;
	overflow: auto;
	display:none;
}

#start-risk-box {
	color: black;
  font-size: 30px;
	padding: 1em;
	border-radius: 40px;
	margin-top: 10%;
  margin-left: 5%;
  line-height: normal;
}

#meter-results-modal {
	background-color: rgba(168, 129, 136, .2);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 99;
	overflow: auto;
	display:none;
}

#meter-results-box {
	color: black;
  font-size: 30px;
	height: 200px;
	width: 400px;
	padding: 1em;
	border-radius: 40px;
	margin: 90px auto;
  line-height: normal;
}

#pick-results-modal {
	background-color: rgba(168, 129, 136, .2);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 99;
	overflow: auto;
	display:none;
}

#pick-results-box {
	color: black;
  font-size: 30px;
	height: 200px;
	width: 400px;
	padding: 1em;
	border-radius: 40px;
	margin: 90px auto;
  line-height: normal;
}
